---
---

<section class="py-20 justify-center items-center lg:w-[740px]">
    <h3 class="text-3xl text-pretty text-center">Skills</h3>
    <h4 class="text-2xl mt-3 mb-5 text-center">Estas son las tecnologias/idiomas que utilizo con frequencia</h4>
    <div class="grid grid-cols-4 gap-y-4 justify-center justify-items-center  bg-opacity-20 rounded-lg p-4">
    </div>
</section>