


<footer class="w-full p-10 items-center justify-center text-center border-t bg-[#13151a] text-[#67686a] font-light border-none">
    <p>	© {new Date().getFullYear()} Álvaro Campos v3. Building software with ♥ from Reus to the world.</p>
</footer>