<header class="fixed top-5 left-1/2 -translate-x-1/2 z-50">
  <div class="flex items-center p-2 rounded-full border border-gray-700/50 bg-gray-900/60 backdrop-blur-md shadow-lg">
    <a href="/" class="text-xl font-bold p-2 px-4 rounded-full hover:bg-white/10 transition-colors duration-300">Álvaro Campos</a>
    
    <nav class="hidden md:flex">
      <ul class="flex gap-2">
        <li><a class="py-2 px-4 rounded-full hover:bg-white/10 transition-colors duration-300" href="#about">Sobre Mí</a></li>
        <li><a class="py-2 px-4 rounded-full hover:bg-white/10 transition-colors duration-300" href="#projects">Proyectos</a></li>
        <li><a class="py-2 px-4 rounded-full hover:bg-white/10 transition-colors duration-300" href="#contact">Contacto</a></li>
      </ul>
    </nav>

    <button id="menu-button" class="md:hidden p-2 text-xl focus:outline-none">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
      </svg>
    </button>
  </div>
  
  <div id="mobile-menu" class="hidden absolute top-full mt-4 left-1/2 -translate-x-1/2 w-full rounded-2xl border border-gray-700/50 bg-gray-900/60 backdrop-blur-md shadow-lg p-4">
    <nav>
      <ul class="flex flex-col items-center gap-2">
        <li><a class="py-2 px-4 rounded-full hover:bg-white/10 transition-colors duration-300" href="#about">Sobre Mí</a></li>
        <li><a class="py-2 px-4 rounded-full hover:bg-white/10 transition-colors duration-300" href="#projects">Proyectos</a></li>
        <li><a class="py-2 px-4 rounded-full hover:bg-white/10 transition-colors duration-300" href="#contact">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>


<script>
  document.addEventListener('DOMContentLoaded', () => {
    const menuButton = document.getElementById('menu-button');
    const mobileMenu = document.getElementById('mobile-menu');

    if (menuButton && mobileMenu) {
      menuButton.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden');
      });
    }
  });
</script>