---

---
<header class="relative z-50 w-full flex justify-center items-center mt-20">
  <div class="bg-primary/30 border-2 border-white rounded-full ">
    <ul class="flex gap-5 items-center p-8">
        <a href="/">Home</a>
        <a href="#about" >Sobre Mí</a>
        <a href="#projects" >Proyectos</a>
        <a href="#contact" >Contacto</a>
    </ul>
  </div>
</header>